body {
  width: 100vh;
  display: flex;
  font-family: "Red Hat Display", sans-serif;
  background-image: url(pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: cover;
}
