* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vh;
  display: flex;
  font-family: "Red Hat Display", sans-serif;
  background-image: url(pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-attachment: fixed;
  background-size: contain;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 90vh;
  background-color: blue;
  margin: auto;
}
